/* ==========================================================================
   1. ENDEREÇAMENTO DE IMAGENS GLOBAIS
   ========================================================================== */

.bg-hero {
    background-image: linear-gradient(rgba(0, 92, 170, 0.15), rgba(0, 0, 0, 0.85)), url('../img/bg_hero_sad.png');
    background-color: #050505;
}

.bg-cronograma {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/bg_cronograma.png');
    padding: 100px 10%;
    max-width: 100%;
}